
/* * {
  box-sizing: border-box;
} */

a {
  text-decoration: none;
  color: white;
}


/* Background Image  */

 body, html {
  height: 100%;
}


body {
  background: url("../img/download.jpg") no-repeat center;
  background-size: cover;
  background-position: center;
  text-align: center;  
  margin-bottom: 20px;
} 


/* End comment */

  #wrapper {
   width: 960px;
   margin: 0 auto;
   padding: 0 5%;
}
  

  .icons li {
    display: inline-block;
    margin: 10px;
    padding: 15 0 0 0;
    height: 30px;
    width: 30px;
}

  h1 {
    padding-top: 110px;
    font-family: 'Righteous', cursive;
    font-size: 8.5em;
    color: white;
    margin-bottom: -1.5%;
    margin-top: 40px;
}

 h3 {
   color: white;
 }

  .title {
    font-size: 2em;
    color: white;
    font-weight: normal;
    font-family: 'Roboto', sans-serif, serif;
    margin-bottom: 8.5%;
    margin-top: 1.5%;
    padding-bottom: 15px;
  }


  .topnav li {
    display: inline-block;    
    list-style-type: none;
    text-align: center;
    color: white;
    font-family: Roboto;
    font-size: 1.5em;
    font-weight: lighter;
    margin: 15px;
  }

   img {
     max-width: 100%;
   }

   
   /* Gallery Page */


   #gallery { 
     display: flex;
     flex-wrap: wrap-reverse;  
     justify-content: space-around; 
     list-style: none; 
   }

   #gallery li {     
     width: 45%; 
     margin: 2.5%;      
   }

      

/* ---- Footer ------ */

   footer a {
    text-align: center;
    font-size: 1em;
    padding-top: 40px;
    color: lightgrey;
  }

  .social-icons {
    width: 30px;
    height: 30px;
    margin: 0 5px;
  }


   /* p {
     color: white;
     text-align: center;
     line-height: 1.3em;
 }

   #main-footer {
    padding-top: 100px;
    padding-bottom: 21px;
  }

  a:link {
    color: white;
    text-decoration: none;
    padding-right: 40px;
  } */

  a:visited {
    color: lightgray;
  }

  a:hover {
    color: #46afe3;
  }

  a:active {
    color: lightcoral; 
  }

  #contact {
    color:white;
    font-size: 1.3em;
    font-family: sans-serif;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 50px;
  }

  #contact p {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
  } 
 
  #contact a:visited {
    color: #46afe3;
  }

  #contact a:hover {
    color: rgb(116, 197, 224);
  }

  
   h2 {
    margin-bottom: 0;
  } 


  

.flex-item {
    margin: 0 5px;
    padding: 0 30px;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 300px;
  }




#gallery li {
  transition: transform .5s cubic-bezier(0.6, 1.5, 0.6, 1);
}

#gallery li:hover {
  transform: scale(1.3) translateY(-15px)
}

/* Form Styling */

.classForm {
  width: 480px;
  height: 500px;
  background: rgba(0,0,0, 0.5);
  color: #fff;
  box-sizing: border-box;
  font-family: sans-serif;
  margin: auto;
  padding: 50px 10px 0px 0px;
  text-align: left;
}

.classForm h1 {
  font-size: 1.80em;
  margin: 0;
  padding-top: 5px;
  text-align: center;
}


.classForm input {
  max-width: 100%;
  box-sizing: border-box;
  margin: 0 0 0 25%;
  padding-left: 15px;
  border: none;
  border-bottom: solid lightblue;
  background: transparent;
  outline: none;
  height: 15px;
  color: #fff;
  font-size: 16px;
}



.classForm p {
  text-align: left;
  padding-left: 15px;
  font-weight: bold;
}



button {
 width: 50%;
 border-radius: 20px;
 height: 40px;
 border: none;
 outline: none;
 margin-top: 10px;
 position: relative;
 transform: translate(50%);
}


/* -----------------
   Gallery Page
---------------------*/

@media screen and (min-width: 480px) {
    #gallery li {
      width: 28.3333%;
    }
}

@media screen and (min-width: 660px) {
    #gallery li {
      width: 28.333%;
    }
}






